a#link1{
  text-decoration: none;
  color: gray;
  margin-bottom: 2%;
  margin-top: 2%;
  padding-top: 1%;
}

p#shortdescrib{
  font-size: 120%;
  color: black;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 1%;
}

a#link1:hover{
  text-decoration: underline;
  color: light;
  margin-bottom: 2%;
  margin-top: 2%;
  padding-top: 1%;
}
p#spacer{
  margin-bottom: 3%;
}
ol#strategie{
  list-style-type: upper-roman;
}
li.strat{
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #C1DFF0;
  text-decoration: none;
  color: black;
}
h3.green{
  background-color:  #76d7c4;
  text-align: block;
  color: black;
  padding-left: 2%;
  padding-right: 2%;
}
